.array-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.array-bar {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: white;
  border-radius: 5px;
}

.unsorted {
  background-color: #007bff; /* Azul brillante para la parte desordenada */
}

.sorted {
  background-color: #28a745; /* Verde fuerte para la parte ordenada */
}

.current {
  background-color: #ffc107; /* Amarillo para el elemento actual */
  font-weight: bold;
  border: 2px solid #000; /* Resaltar más el elemento actual */
}

p {
  padding: 30px; /* Ajusta el valor según prefieras */
  line-height: 1.6; /* Para mejor legibilidad */
}
